<div class='flash-msg'>
<% if user_signed_in?%>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% else %>
<h4><%= link_to 'Sign in', new_user_session_path %></h4>
<% end %>
</div>
